<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<div class="col-md-12 show">
    <div class="panel panel-default">
        <div class="panel-heading">
            管理员登录
        </div>
        <div class="panel-body">

            <!--用户名-->
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">用户名</span>
                    <input name="adminName" type="text" class="form-control" placeholder="AdminName"
                           aria-describedby="basic-addon1"/>
                </div>
            </div>

            <br>

            <!--密码-->
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">密码</span>
                    <input name="adminPassword" type="text" class="form-control" placeholder="AdminPassword"
                           aria-describedby="basic-addon1"/>
                </div>
            </div>

            <br>

            <!--提交按钮-->
            <div class="col-md-12">
                <div class="input-group">
                    <div class="col-md-3"></div>
                    <span class="col-md-6 input-group-btn">
                        <button id="admin-login" class="btn btn-info" type="button">登录</button>
                    </span>
                    <div class="col-md-3"></div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<script src="/ssm/js/myjs/func/check-input.js"></script>
<script src="/ssm/js/myjs/popup/admin-login.js"></script>

</html>