<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>上传日记</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<div class="col-md-6 show">
    <div class="panel panel-default">
        <div class="panel-heading">
            上传日记
        </div>
        <div class="panel-body">

            <!--日记名-->
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">标题</span>
                    <input name="diaryName" type="text" class="form-control" placeholder="diaryName"
                           aria-describedby="basic-addon1"/>
                </div>
            </div>

            <br>

            <!--内容-->
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">内容</span>
                    <textarea name="diaryText" rows="10" class="form-control" placeholder="diaryText"
                              aria-describedby="basic-addon1"></textarea>
                </div>
            </div>

            <br>

            <!--提交按钮-->
            <div class="col-md-12">
                <div class="input-group">
                    <div class="col-md-3"></div>
                    <span class="col-md-6 input-group-btn">
                        <button id="diary-upload" class="btn btn-info" type="button">上传</button>
                    </span>
                    <div class="col-md-3"></div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<script src="/ssm/js/myjs/popup/diary-upload.js"></script>

</html>