<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传图片</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-12 show">
    <div class="panel panel-default ">
        <div class="panel-heading">
            上传图片
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="imageText">图片标题</label>
                    <p id="image-text-label"></p>
                    <input type="text" class="form-control" id="imageText" placeholder="Title"/>
                </div>

                <div class="form-group">
                    <label for="imageClassId">图片类别</label>
                    <p id="image-class-label"></p>
                    <input type="text" class="form-control" id="imageClassId"
                           placeholder="类别"/>
                </div>

                <div class="form-group">
                    <label for="image">File input</label>
                    <input type="file" id="image"/>
                    <p class="help-block">帮助提示</p>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"/>
                        记住me
                    </label>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <div class="col-md-3"></div>
                        <span class="col-md-6 input-group-btn">
                        <button id="image-upload" class="btn btn-info" type="button">上传</button>
                    </span>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>

<script src="/ssm/js/myjs/func/check-input.js"></script>
<script src="/ssm/js/myjs/popup/image-upload.js"></script>

</html>