<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>srsjava.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>srsjava.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>srsjava.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePSWServlet</servlet-name>
    <servlet-class>srsjava.servlet.UpdatePSWServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePSWServlet</servlet-name>
    <url-pattern>/UpdatePSWServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMSGServlet</servlet-name>
    <servlet-class>srsjava.servlet.UpdateMSGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMSGServlet</servlet-name>
    <url-pattern>/UpdateMSGServlet</url-pattern>
  </servlet-mapping>
</web-app>