<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LifeCat-Main</title>

    <!--框架引入-->
    <link rel="stylesheet" href="/ssm/static/css/bootstrap/3.3.6/bootstrap.css"/>
    <script type="text/javascript" src="/ssm/static/js/jquery/jquery.min.js"></script>
    <script src="/ssm/static/js/layer/layer.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/ssm/static/css/view/home.css"/>
</head>

<body>

<div class="col-md-12 show">
    <div class="panel panel-default">
        <div class="panel-heading">技术栈</div>
        <div class="panel-body">

            <a class="btn btn-default" href="http://47.106.11.84" role="button">官网</a>

            <button type="button" class="btn btn-primary">Spring</button>

            <button type="button" class="btn btn-success">SpringMVC</button>

            <button type="button" class="btn btn-info">Mybatis</button>

            <button type="button" class="btn btn-warning">Shiro</button>

            <button type="button" class="btn btn-danger">jQuery</button>
        </div>
    </div>
</div>

<div class="col-md-6 show">
    <div class="panel panel-default">
        <div class="panel-heading">
            控制台
        </div>
        <div class="panel-body">
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">管理员总数:...</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">用户总数:...</a>
            </div>
            <div class="alert alert-warning" role="alert">
                <a href="#" class="alert-link">日记总数:...</a>
            </div>
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">图片总数:...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 show">
    <div class="panel panel-default">
        <div class="panel-heading">
            代码量/line
        </div>
        <div class="panel-body">
            <span class="label label-default">html:1482</span>
            <span class="label label-primary">css:8509</span>
            <span class="label label-success">js:6227</span>
            <span class="label label-info">xml:950</span>
            <span class="label label-warning">java:2821</span>
            <span class="label label-danger">total:22524</span>
        </div>
        <div class="panel-footer">
            底部
        </div>
    </div>
</div>

<div class="col-md-6 show">
    <div class="panel panel-default panel-2">
        <div class="panel-heading">
            邮件服务
        </div>
        <div class="panel-body">
            @163.com
        </div>
    </div>
</div>
</body>
</html>

