<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LifeCat-Diary</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/ssm/js/layer/layer.js"></script>
</head>

<body>
<div class="col-md-12 show">
    <div class="panel panel-default ">
        <div class="panel-heading">
            管理员信息
            &nbsp;&nbsp;
            <a id="diary-query" href="#"><i class="glyphicon glyphicon-search"></i></a>
            &nbsp;&nbsp;
            <a id="diary-create" href="#"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered tb-hover">
                <thead>
                <tr>
                    <td></td>
                    <td>序号</td>
                    <td>用户名</td>
                    <td>权限</td>
                    <td>创建时间</td>
                    <td class="text-center">操作</td>
                </tr>
                </thead>
                <tbody id="diary-table">
                <!--插入json数据-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/ssm/js/myjs/admin.js"></script>

</body>
</html>