<link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
<link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div class="col-md-12 item">
    <div class="panel panel-default ">
        <div class="panel-heading">
            表格
        </div>
        <div class="panel-body">
            <table class="table table-bordered tb-hover">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>名称</td>
                    <td>年龄</td>
                    <td>性别</td>
                    <td>住址</td>
                    <td class="text-center">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>小易</td>
                    <td>21</td>
                    <td>男</td>
                    <td>china</td>
                    <td class=" text-center"><a href="#"><i class="glyphicon glyphicon-search"></i></a>&nbsp;&nbsp;<a
                            href="#"><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>小易</td>
                    <td>21</td>
                    <td>男</td>
                    <td>china</td>
                    <td class=" text-center"><a href="#"><i class="glyphicon glyphicon-search"></i></a>&nbsp;&nbsp;<a
                            href="#"><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>