<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LifeCat-Diary</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/ssm/js/layer/layer.js"></script>
</head>

<body>
<div class="col-md-12 show">
    <div class="panel panel-default ">
        <div class="panel-heading">
            图片信息
            &nbsp;&nbsp;
            <a id="image-read" href="#"><i class="glyphicon glyphicon-search"></i></a>
            &nbsp;&nbsp;
            <a id="image-create" href="#"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="panel-body">

            <!--导航栏-->
            <div class="col-lg-6">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Image</a></li>
                    <li class="active">Data</li>
                </ol>
            </div>

            <!--搜索框-->
            <div class="col-lg-6">
                <div class="input-group">
                    <input name="search-image" type="text" class="form-control" placeholder="Search image name"
                           aria-describedby="basic-addon2"/>
                    <span class="input-group-btn">
                        <button id="search-btn" class="btn btn-primary" type="button">Go!</button>
                    </span>
                </div>
            </div>

            <!--动态table 获取json数据-->
            <table class="table table-bordered tb-hover">
                <thead>
                <tr>
                    <td>图片序号</td>
                    <td>作者ID</td>
                    <td>标题</td>
                    <td>类别</td>
                    <td>发布时间</td>
                    <td>修改时间</td>
                    <td>预览</td>
                    <td class="text-center">操作</td>
                </tr>
                </thead>
                <tbody id="image-table">
                <!--插入json数据-->
                </tbody>
            </table>

            <!--分页按钮，默认隐藏-->
            <div id="paging-button" class="hidden">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/ssm/js/myjs/image.js"></script>
<script src="/ssm/js/myjs/search/image-search.js"></script>

</body>
</html>