<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LifeCat-Image</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-12 item">
    <div class="panel panel-default">
        <div class="panel-heading">
            表格
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>名称</td>
                    <td>年龄</td>
                    <td>性别</td>
                    <td>住址</td>
                    <td>QQ</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>小易</td>
                    <td>21</td>
                    <td>男</td>
                    <td>china</td>
                    <td>123456</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>