<div class="col-md-6 item">
    <div class="panel panel-default">
        <div class="panel-heading">导航条</div>
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>
</div>


<div class="col-md-6 item">
    <div class="panel panel-default">
        <div class="panel-heading">分页</div>
        <div class="panel-body">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--第二栏-->
<div class="col-md-6 item">
    <div class="panel panel-default">
        <div class="panel-heading">
            输入框
        </div>
        <div class="panel-body">

            <div class="col-md-6">

                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                    <input type="text" class="form-control" placeholder="Search for..."/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <br/>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username"
                           aria-describedby="basic-addon1"/>
                </div>
                <br/>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                           aria-describedby="basic-addon2"/>
                    <span class="input-group-addon" id="basic-addon2">@example.com</span>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <label>
                        <input type="text" class="form-control"
                               aria-label="Amount (to the nearest dollar)"/>
                    </label>
                    <span class="input-group-addon">.00</span>
                </div>
                <br/>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Action <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <label>
                        <input type="text" class="form-control" aria-label="..."/>
                    </label>
                </div>
                <br/>
                <div class="input-group">
                    <label>
                        <input type="text" class="form-control" aria-label="..."/>
                    </label>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Action <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="col-md-6 item">
    <div class="panel panel-default ">
        <div class="panel-heading">表单</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">邮箱</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile"/>
                    <p class="help-block">帮助提示</p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/>
                        记住me
                    </label>
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>

</div>


<!--第三栏-->
<div class="col-md-12 item">
    <div class="panel panel-default">
        <div class="panel-heading">按钮</div>
        <div class="panel-body">

            <a class="btn btn-default" href="#" role="button">Link</a>
            <button class="btn btn-default" type="submit">Button</button>

            <button type="button" class="btn btn-default">（默认样式）Default</button>

            <button type="button" class="btn btn-primary">（首选项）Primary</button>


            <button type="button" class="btn btn-success">（成功）Success</button>


            <button type="button" class="btn btn-info">（一般信息）Info</button>


            <button type="button" class="btn btn-warning">（警告）Warning</button>

            <button type="button" class="btn btn-danger">（危险）Danger</button>


            <button type="button" class="btn btn-link">（链接）Link</button>
        </div>
    </div>
</div>


<!--第四栏-->
<div class="col-md-6 item">
    <div class="panel panel-default">
        <div class="panel-heading">
            提示框
        </div>
        <div class="panel-body">
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
            <div class="alert alert-warning" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 item">
    <div class="panel panel-default">
        <div class="panel-heading">
            标签
        </div>
        <div class="panel-body">
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </div>
        <div class="panel-footer">
            底部
        </div>
    </div>
</div>

<div class="col-md-6 item">
    <div class="panel panel-default panel-2">
        <div class="panel-heading">
            面板2
        </div>
        <div class="panel-body">
            恩
        </div>
    </div>
</div>

