<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LifeCat-Main</title>
    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel="stylesheet" href="/ssm/css/mycss/home-base.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>


<!--第二栏-->



<!--第三栏-->
<div class="col-md-12 show">
    <div class="panel panel-default">
        <div class="panel-heading">按钮</div>
        <div class="panel-body">

            <a class="btn btn-default" href="#" role="button">Link</a>
            <button class="btn btn-default" type="submit">Button</button>

            <button type="button" class="btn btn-default">（默认样式）Default</button>

            <button type="button" class="btn btn-primary">（首选项）Primary</button>


            <button type="button" class="btn btn-success">（成功）Success</button>


            <button type="button" class="btn btn-info">（一般信息）Info</button>


            <button type="button" class="btn btn-warning">（警告）Warning</button>

            <button type="button" class="btn btn-danger">（危险）Danger</button>


            <button type="button" class="btn btn-link">（链接）Link</button>
        </div>
    </div>
</div>


<!--第四栏-->
<div class="col-md-6 show">
    <div class="panel panel-default">
        <div class="panel-heading">
            提示框
        </div>
        <div class="panel-body">
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
            <div class="alert alert-warning" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 show">
    <div class="panel panel-default">
        <div class="panel-heading">
            标签
        </div>
        <div class="panel-body">
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </div>
        <div class="panel-footer">
            底部
        </div>
    </div>
</div>

<div class="col-md-6 show">
    <div class="panel panel-default panel-2">
        <div class="panel-heading">
            面板2
        </div>
        <div class="panel-body">
            恩
        </div>
    </div>
</div>
</body>
</html>

