<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SSM后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Lifecat, SSM, JavaWeb"/>

    <link rel="stylesheet" href="/ssm/css/bootstrap/3.3.6/bootstrap.css"/>
    <link rel='stylesheet' type='text/css' href="/ssm/css/index.css"/>
    <script type="text/javascript" src="/ssm/js/jquery/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/ssm/js/layer/layer.js"></script>
    <script src="/ssm/js/myjs/index.js"></script>
</head>

<body>
<h1>SSM后台管理系统</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"></label>
        <label class="lbl-2"></label>
        <label class="lbl-3"></label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="/ssm/images/index/avtar.png"/>
    </div>
    <div>
        <label>
            <input id="user-name-label" type="text" class="text" value="admin" name="Username"
                   onFocus="this.value = '';"
                   onBlur="if (this.value === '') {this.value = 'Username';}">
        </label>
        <div class="key">
            <label>
                <input id="user-psw-label" type="password" value="admin" name="Password"
                       onFocus="this.value = '';"
                       onBlur="if (this.value === '') {this.value = 'Password';}">
            </label>
        </div>
        <div class="signin">
            <button id="login-btn" name="submit">Login</button>
        </div>
    </div>
</div>
<div class="copy-rights">
    <p>Copyright &copy; 2018.SSM后台管理系统</p>
</div>
</body>

</html>
