<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!--加载数据资源属性文件-->
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:mail.properties</value>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="configProperties"/>
    </bean>

    <!--配置数据库参数及连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置SqlSessionFactory处理类-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="typeAliasesPackage" value="com.ten.entity;com.ten.dto"/>
    </bean>

    <!--配置mapper扫描-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ten.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!--shiro filter安全框架-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/view/index"/>
        <!-- 权限认证失败，则跳转到指定页面 -->
        <property name="unauthorizedUrl" value="/view/error"/>
        <!-- Shiro连接约束配置,即过滤链的定义 -->
        <property name="filterChainDefinitions">
            <value>
                /login=anon
                /index/**=authc
            </value>
        </property>
    </bean>
    <!--shiro manager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="customRealm"/>
    </bean>
    <!--shiro realm-->
    <bean id="customRealm" class="com.ten.shiro.AdminRealm"/>

    <!--自动扫描-->
    <context:component-scan base-package="com.ten"/>

    <!--邮件服务-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
        <property name="username" value="${mail.sysEmailAddress}"/>
        <property name="password" value="${mail.password}"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
                <prop key="mail.smtp.port">${mail.smtp.port}</prop>
            </props>
        </property>
    </bean>

    <!--aop配置-->
    <!--<context:component-scan base-package="com.spring.aspect"/>-->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <!-- 以下为jms+activemq服务，即消息队列服务，需先配置开启activemq -->
    <!--&lt;!&ndash;activemq&ndash;&gt;-->
    <!--<bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">-->
        <!--<property name="trustAllPackages" value="true"/>-->
        <!--<property name="userName" value="admin"/>-->
        <!--<property name="password" value="admin"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;<amq:connectionFactory id="connectionFactory" brokerURL="tcp://localhost:61616"/>&ndash;&gt;-->
    <!--<bean id="queue" class="org.apache.activemq.command.ActiveMQQueue"-->
          <!--c:_0="lifecat.alert.queue"/>-->
    <!--&lt;!&ndash;<amq:queue id="lifecatQueue" physicalName="lifecat.alert.queue"/>&ndash;&gt;-->
    <!--<bean id="topic" class="org.apache.activemq.command.ActiveMQTopic"-->
          <!--c:_0="lifecat.alert.topic"/>-->
    <!--&lt;!&ndash;<amq:topic id="lifecatTopic" physicalName="lifecat.alert.topic"/>&ndash;&gt;-->
    <!--&lt;!&ndash;jms&ndash;&gt;-->
    <!--<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate"-->
          <!--c:_0-ref="connectionFactory" p:defaultDestinationName="lifecat.alert.queue"/>-->
    <!--<bean id="lifecatHandler" class="com.ten.jms.AlertHandler"/>-->
    <!--<jms:listener-container connection-factory="connectionFactory">-->
        <!--<jms:listener destination="lifecat.alert.queue" ref="lifecatHandler" method="handleLoginAlert"/>-->
    <!--</jms:listener-container>-->

</beans>