<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.DiaryMapper">

    <insert id="insertDiaryAndGetKey" parameterType="userDO" useGeneratedKeys="true" keyProperty="userId">
        insert into admin (admin_name, admin_password, admin_levle, admin_gmt_create, admin_gmt_modified)
        values (#{adminName}, #{adminPassword}, #{adminLevel}, #{adminGmtCreate}, #{adminGmtCreate})
    </insert>

    <update id="updateDiary" parameterType="diaryDO">
        UPDATE image
        set is_deleted = '0'
        where image_id = #{imageId}
    </update>

    <delete id="deleteDiaryById" parameterType="int">
        select count(user_id) as count
        from user
        where user_name = #{userName}
    </delete>

    <select id="queryDiaryByName" parameterType="string" resultType="diaryDO">
        select count(admin_id)
        from admin
        where admin_name = #{adminName}
    </select>

    <select id="queryDiaryListByUserId" parameterType="int" resultType="">
       SELECT diary_id,diary_name,diary_text,diary_gmt_modified from diary where user_id = #{userId} and is_deleted = '1'"
    </select>

</mapper>